$navbar-default-bg: #073B15;
@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
float:left;
font-size: 1.7em;
color: red;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold ;
}


#logo:hover{
  color: #fff;
  text-decoration: none;
} 

.center{
 text-align: center; 
}


.jumbotron{
 background-image: url('cover-img.jpg');
 background-size: cover;
 height: 340px;

}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}



.btn-xlarge{
  background-color: #073B15;
  text-decoration: none;
  border: none;
}

.footer-bg{
  background-color: #e2e2e0;
}